.hero-section{
    display: flex;
    background-color:#495E57 ;
    padding: 10px;
    justify-content: space-between;
}
.hero-section-img{
    flex: 0.5;
}
.hero-section h1{
    color: #FBFF00;
    text-align: center;
}
.hero-section h5{
color: white;
text-align: center;
position: relative;
    right: 58px;
    bottom: 20px;
}

.hero-section p{
    width: 648px;
    height: 128px;
    font-size: 20px;
    flex-wrap: wrap;
    color:#FBFF00;

    position: relative;
    left: 20px;
    
}
.btn{
    position: relative;
    left: 40px;
    background-color: #FBFF00;
    border: none;
    border-radius: 6px;
    padding: 13px;
}

.hero-section-img{
width: 400px;
height: 440px;
}
.hero-section-img img{
    width: 100%;
    height: 100%;
}
@media(max-width: 1024px) {
    .hero-section-img{
        display: none;
    }
    
    .hero-section-text p{
        width:100%;
        position: relative;
        bottom: 40px;
        flex-wrap: wrap;

    }

    
}
.hero-cards-sec{
    margin-top: 20px;
    margin-bottom: 70px;
}
.hero-cards-title{
    display: flex;
justify-content: space-between;
}
.hero-cards-title h2{
    
    margin-left: 40px;
}
.btn2{
margin-right: 38px;
height: 35px;
    width: 125px;
position: relative;
    left: 40px;
    top: 20px;
    background-color: #FBFF00;
    border: none;
    border-radius: 6px;
    
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card {
   text-align: center;
   background-color: #495E57;
}
.card-text{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-text span
{
    color: #FBFF00;
}
.card img{
    width: 100%;
}
.btn3{
    height: 35px;
    width: 125px;
    margin-bottom: 10px;
     background-color: #FBFF00;
    border: none;
    border-radius: 6px;
}
@media (max-width:768px) {
    .cards{
        flex-direction: column;
    }
    
}
